@charset "utf-8";
/* CSS Document */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::v-deep body {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-family: "微软雅黑";
}

.big-screen {
  background: linear-gradient(25deg, #0f2249, #182e5a 20%, #0f2249 40%, #182e5a 60%, #0f2249 80%, #182e5a 100%);
  color: #fff;
  font-size: 0.1rem;
  li {
    list-style-type: none !important;
  }

  i {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
  }
  img {
    border: none;
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: #399bff;
  }
  a.active,
  a:focus {
    outline: none !important;
    text-decoration: none;
  }
  ol,
  ul,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
  a:hover {
    color: #06c;
    text-decoration: none !important;
  }
  i,
  em {
    font-style: normal;
  }

  .clearfix:after,
  .clearfix:before {
    display: table;
    content: " ";
  }
  .clearfix:after {
    clear: both;
  }
  .pulll_left {
    float: left;
  }
  .pulll_right {
    float: right;
  }
  /*谷哥滚动条样式*/

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5bc0de;
  }
  ::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  /***/

  .head {
    height: 1.05rem;
    background: url(/head_bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
  }
  .head h1 {
    color: #bde4ff;
    text-align: center;
    font-size: 0.4rem;
    line-height: 1.05rem;
    letter-spacing: 0.06rem;
  }
  .head h1 img {
    width: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.2rem;
  }

  .mainbox {
    padding: 0.4rem 0rem 0rem 0rem;
    height: calc(100vh - 1.05rem);
  }
  .mainbox > ul {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    height: 100%;
  }
  .mainbox > ul > li {
    float: left;
    padding: 0 0.13rem;
    height: 100%;
  }
  .mainbox > ul > li {
    width: 25%;
  }
  .mainbox > ul > li:nth-child(2) {
    width: 50%;
  }

  .tit01 {
    background: linear-gradient(to right, rgba(48, 82, 174, 1), rgba(48, 82, 174, 0));
    color: #fff;
    font-size: 0.17rem;
    padding: 0.03rem 0.1rem;
  }
  .tit02 {
    background: #3aafe8;
    color: #021132;
    position: absolute;
    font-size: 0.25rem;
    padding: 0.02rem 0;
    text-align: center;
    width: 2.4rem;
    left: 50%;
    margin-left: -1.2rem;
    margin-top: -0.35rem;
    letter-spacing: 0.05rem;
  }
  .tit03 {
    text-align: center;
    color: #fff;
    font-size: 0.25rem;
    line-height: 0.5rem;
    letter-spacing: 0.05rem;
  }
  .tit04 {
    text-align: center;
    background: #0c2854;
    color: #fff;
    font-size: 0.25rem;
    line-height: 0.6rem;
    letter-spacing: 0.05rem;
  }

  .wrap {
    height: 2.54rem;
    overflow: hidden;
  }
  .wrap li {
    line-height: 0.42rem;
    height: 0.42rem;
    font-size: 0.18rem;
    text-indent: 0.24rem;
    margin-bottom: 0.1rem;
  }
  .wrap li p {
    border: 1px solid rgba(25, 186, 139, 0.17);
    color: rgba(255, 255, 255, 0.6);
  }

  .boxnav {
  }
  .nav01 {
    height: calc(100% - 0.3rem);
    padding-top: 0.2rem;
  }
  .nav02 {
    height: calc(100%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav03 {
    height: calc(100% - 0.47rem);
    padding-top: 0.2rem;
  }
  .nav04 {
    height: calc(100% - 0.7rem);
  }
  .nav02 > div {
    width: 100%;
  }
  .nav02 p {
    text-align: center;
    color: #fff;
  }
  .nav02 .p1 {
    font-size: 0.3rem;
    letter-spacing: 0.02rem;
  }
  .p2 {
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
    padding: 0.1rem 0;
    width: 100%;
    text-align: center;
  }
  .nav02 .p3 span {
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 45%;
    font-size: 0.3rem;
  }
  .dot {
    width: 0.2rem;
    height: 0.2rem;
    display: inline-block;
    border-radius: 1rem;
    position: relative;
    top: 0.04rem;
    margin-right: 0.1rem;
  }
  .dot1 {
    background: #ff0006;
  }
  .dot2 {
    background: #00ea37;
  }
  .text-green {
    color: #00ea37;
  }
  .text-red {
    color: #ff0006;
  }

  .listhead {
    height: 0.55rem;
    display: flex;
    justify-content: space-between;
  }
  .listnav {
    height: calc(100% - 0.55rem);
    // height: 100%;
    &.small {
      height: 100%;
    }
  }
  .listnav ul li {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .listhead span,
  .listnav li span {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 0.55rem;
  }
  .listhead1 span,
  .listnav1 li span {
    border: 1px solid #3486da;
  }
  .listnav ul li span {
    font-size: 0.18rem;
  }
  .listnav2 ul li:nth-child(odd) {
    background: #0c2854;
  }
  .listhead1 span {
    background: #0c2854;
    font-size: 0.2rem;
    color: #3486da;
    font-weight: bold;
  }
  .listhead2 span {
    font-size: 0.2rem;
    color: #3486da;
    border-bottom: 1px solid #0c2854;
    font-weight: bold;
  }

  /*Plugin CSS*/
  .str_wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
  }

  .str_move {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
  }
  .str_move_clone {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .str_vertical .str_move_clone {
    left: 0;
    top: 100%;
  }
  .str_down .str_move_clone {
    left: 0;
    bottom: 100%;
  }
  .str_vertical .str_move,
  .str_down .str_move {
    white-space: normal;
    width: 100%;
  }
  .str_static .str_move,
  .no_drag .str_move,
  .noStop .str_move {
    cursor: inherit;
  }
  .str_wrap img {
    max-width: none !important;
  }

  .payment-time {
    padding-right: 10px;
  }
}
